//#393738
//#0091A4
//#CCD360
//#d00000
//#323323
//#535448
//#A5A968


@font-face {
    font-family: 'Lis';
    src: url('../../../public/fonts/Deutschlander.otf');
}

@font-face {
    font-family: 'Titles';
    src: url('../../../public/fonts/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Text';
    src: url('../../../public/fonts/Queensides\ Medium.ttf');
}

.container{
    width: 100%;
    padding-bottom: 7.5rem;
    background-color: #CCD360;
    position: relative;
    
    .button{
        display: none;
        padding: .75rem 1.5rem;
        border-radius: .75rem;
        height: 3.125rem;
        border: .125rem solid #4a4e69;
        text-transform: uppercase;
        color: #4a4e69;
        background-color: transparent;
        cursor: pointer;
        transition: .4s;
        position: fixed;
        z-index: 7000;
        right: .75rem;
        bottom: .75rem;

        &:hover{
            color: #000;
            border-color: #000;
            background-color: #0091A4;
        }
    }

    .header{
        display: flex;
        justify-content: center;
        nav{
            position: fixed;
            z-index: 50000;
            background-color: #393738;
            border-radius: 1rem;
            width: 43.75rem;
            h1{
                width: max-content;
                font-size: 3rem;
                font-family: 'Titles';
            }

            padding: 1.25rem;
            display: flex;
            justify-content: space-between;
            margin: .75rem auto;
            align-items: center;
           
            button{
                padding: .75rem 1.5rem;
                border-radius: .75rem;
                height: 3.125rem;
                border: .125rem solid #4a4e69;
                text-transform: uppercase;
                color: #4a4e69;
                background-color: transparent;
                cursor: pointer;
                transition: .4s;

                &:hover{
                    color: #000;
                    border-color: #000;
                    background-color: #0091A4;
                }
           }

            ul{
                display: flex;
                align-items: center;
                list-style: none;
                
                a{
                    text-decoration: none;
                }

                li{
                    margin: 0rem .75rem;
                    font-size: 1.8rem;
                    font-family: 'Lis';
                    transition: .4s;
                    color: #000;

                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                        color: #FFF;
                    }
                }
            }
        }
    }

    main{
        h1{
            padding: 12.5rem 1.25rem;
            padding-bottom:0rem;
            font-size: 3rem;
            font-family: 'Titles';
        }

        h3{
            font-family: 'Titles';
            font-size: 1.5rem;
            padding: 0rem 1.25rem;
        }
    }

    .form{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10rem;
        align-items: center;
        padding: 0rem 1.25rem;


        form{
            label,
            button{
                display: block;
            }

            button{
                padding: .75rem 1.5rem;
                border-radius: .75rem;
                height: 3.125rem;
                border: .125rem solid #4a4e69;
                text-transform: uppercase;
                color: #4a4e69;
                background-color: transparent;
                cursor: pointer;
                transition: .4s;
                margin-top: 2rem;

                &:hover{
                    color: #000;
                    border-color: #000;
                    background-color: #0091A4;
                }
           } 

            label{
                font-size: 1.2rem;
                font-family: 'Text';
                margin-bottom: .25rem;
                margin-top: 1.25rem;
            }

            input,textarea{
                background-color: #535448;
                border: .125rem solid #323323;
                color: #393738;
                font-family: 'Text';
                font-size: 1rem;

                &::placeholder{
                    font-family: 'Text';
                    font-size: 1rem;
                    color:#A5A968 ;
                }

                &:focus{
                    background-color: #323323;
                    border-color: #535448;
                    color:#A5A968 ;
                }
            }

            input,
            textarea{
                padding: .75rem .25rem;
                border-radius: .75rem;
                width: 25rem;
            }

            textarea{
                height: 12.5rem;
            }
        }
    }

    .infos{
        padding: 1.25rem;
        background-color: #A5A968;
        border-radius: 1.25rem;

        h2{
            font-size: 2rem;
            font-family: 'Titles';
            margin-bottom: 3.75rem;
            color: #FFF;
        }

        .card{
            margin-bottom: 1.5rem;
            background-color: #535448;
            padding: .75rem;
            border-radius: 1.25rem;

            div{
                display: flex;
                align-items: center;
                gap: .75rem;
                margin-bottom: .5rem;

                span{
                    font-family: 'Titles';
                    font-size: 1.2rem;
                }
            }

            p{
                font-family: 'Text';
                width: 34.375rem;
                text-align: justify;
            }
        }

    }
}

@media(max-width:600px){
    .container{
        .header{
            nav{
                width: 21.875rem;
                border-radius: 0rem;
                margin: 0 auto;

                button{
                    display: none;
                }

                h1{
                    font-size: 2rem;
                }
            }
        }

        .form{
            form{
                input,
                textarea{
                    width: 16.875rem;
                }
            }
        }
        .button{
            display: block;
        }
    
        .form

    .infos{
        display: none;
    }
    }
}