@font-face {
    font-family: 'Lis';
    src: url('../../../public/fonts/Deutschlander.otf');
}

@font-face {
    font-family: 'Titles';
    src: url('../../../public/fonts/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Text';
    src: url('../../../public/fonts/Queensides\ Medium.ttf');
}


.container{
    width: 100%;
    background-color: #0091A4;
    position: relative;

    .button{
        display: none;
        padding: .75rem 1.5rem;
        border-radius: .75rem;
        height: 3.125rem;
        border: .125rem solid #4a4e69;
        text-transform: uppercase;
        color: #4a4e69;
        background-color: transparent;
        cursor: pointer;
        transition: .4s;
        position: fixed;
        z-index: 7000;
        right: .75rem;
        bottom: .75rem;

        &:hover{
            color: #000;
            border-color: #000;
            background-color: #0091A4;
        }
    }

    .header{
        display: flex;
        justify-content: center;
        nav{
            position: fixed;
            z-index: 50000;
            background-color: #393738;
            border-radius: 1rem;
            width: 43.75rem;
            h1{
                width: max-content;
                font-size: 3rem;
                font-family: 'Titles';
            }

            padding: 1.25rem;
            display: flex;
            justify-content: space-between;
            margin: .75rem auto;
            align-items: center;
           
            button{
                padding: .75rem 1.5rem;
                border-radius: .75rem;
                height: 3.125rem;
                border: .125rem solid #4a4e69;
                text-transform: uppercase;
                color: #4a4e69;
                background-color: transparent;
                cursor: pointer;
                transition: .4s;

                &:hover{
                    color: #000;
                    border-color: #000;
                    background-color: #0091A4;
                }
           }

            ul{
                display: flex;
                align-items: center;
                list-style: none;
                
                a{
                text-decoration: none;
                }


                li{
                    margin: 0rem .75rem;
                    font-size: 1.8rem;
                    font-family: 'Lis';
                    transition: .4s;
                    color: #000;


                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                        color: #FFF;
                    }

                    
                }
        
            }
        }
    }

    h1{
        font-size: 3rem;
        font-family: 'Titles';
    }

    p{
        width: 28.125rem;
        font-size: 1.5rem;
        margin: 1.25rem 0rem;
        text-align: justify;
        font-family: 'Text';
    }

    .contentContainer{
        padding: 12.5rem 1.25rem;

        .history,
        .mission{
            p{
                width: 75rem;
                text-align: justify;
            }
        }

        .mission{
            span{
                font-family: 'Text';
                font-size: 1.2rem;
                margin-bottom: .5rem;
            }

            ul{
                padding: .25rem .75rem;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: .75rem;

                li{
                    font-size: 1.1rem;
                    font-family: 'Text';
                    width: 28.125rem;
                }
            }
        }
    }
}


@media(max-width:600px){
    .container{
        .button{
            display: block;
        }

        .header{
            nav{
                width: 21.875rem;
                border-radius: 0rem;
                margin: 0 auto;

                button{
                    display: none;
                }

                h1{
                    font-size: 2rem;
                }
            }
        }

        .contentContainer{
            padding: 8.75rem 1.25rem;
            .history,
            .mission{
                p{
                  width: 21.875rem;  
                }
            }

            .mission{
                ul{
                    li{
                        width: 15.625rem;
                    }
                }
            }
        }
    }
}