$primary-color: #D3D664;
$secondary-color: #028DA5;
$primary-grey: #ECECEC;
$secondary-grey: #868686;
$white: #FFFFFF;
$black: #000000;



@font-face {
    font-family: 'Lis';
    src: url('../../../../public/fonts/Neris-SemiBold.otf');
}

@font-face {
    font-family: 'Titles';
    src: url('../../../../public/fonts/Neris-Black.otf');
}

@font-face {
    font-family: 'Alternative-Titles';
    src: url('../../../../public/fonts/Diamonds-Regular.otf');
}

@font-face {
    font-family: 'Text';
    src: url('../../../../public/fonts/Neris-Thin.otf');
}

@font-face {
    font-family: 'Label';
    src: url('../../../../public/fonts/Neris-SemiBold.otf');
}



.container{
    width: 100%;
    height: 100%;
    background-color: $secondary-grey;
    padding: 60px 20px;

    .summary{
        display: flex;
        gap: 42px;

        
        table{
            margin: 20px 0px;
            font-family: 'Alternative-Titles';
            width: 500px;
            

         tr:nth-child(1){
            div{
                padding: 16px;
                width: 100%;
                background-color: $primary-color;
                display: flex;
                justify-content: space-between;
            }
         }
         
         tr:nth-child(2){
            div{
                margin-top: -2px;
                padding: 16px;
                width: 100%;
                background-color: $secondary-color;
                display: flex;
                justify-content: space-between;
                text-align: center;
            }
         }         
        
        }
    
        
    }

    .tableAmortization{
        margin-top: 60px;

        h1{
            width: 100%;
            text-align:center;
            font-size: 3rem;
            color: $white;
            font-family: 'Alternative-Titles';
            line-height: 1;
        }

        table{
            font-family: 'Alternative-Titles';
            line-height: 1;
            color: $white;
            font-size: 1.2rem;
            
          

            tr:nth-child(even){
                display: block;

                div{
                    background-color: $primary-color;
                    display: flex;
                    padding: 0px 16px;
                    
                    td:nth-child(1){
                        margin: 32px 28px;
                    }

                    td:nth-child(2){
                        margin: 28px 0px;
                        margin-left: 140px;
                    }

                    td:nth-child(3){
                        margin: 28px 0px;
                        margin-left: 88px;

                    }

                    td:nth-child(4){
                        margin: 28px 0px;
                        margin-left: 24px;
                    }

                    
                    td:nth-child(5){
                        margin: 28px 0px;
                        margin-left: 52px;
                    }

                    td:nth-child(6){
                        margin: 28px 0px;
                        margin-left: 24px;
                    }

                    td:nth-child(7){
                        margin: 28px 0px;
                        margin-left: 40px;


                    }
                    td:nth-child(8){
                        margin: 28px 0px;
                        margin-left: 52px;
                    }
                    

                   
                }
            }

            tr:nth-child(odd){
                display: block;

                div{
                    background-color: $secondary-color;
                    display: flex;
                    padding: 0px 16px;
                    
                    td:nth-child(1){
                        margin: 32px 28px;
                    }

                    td:nth-child(2){
                        margin: 28px 0px;
                        margin-left: 140px;
                    }

                    td:nth-child(3){
                        margin: 28px 0px;
                        margin-left: 88px;

                    }

                    td:nth-child(4){
                        margin: 28px 0px;
                        margin-left: 24px;
                    }

                    
                    td:nth-child(5){
                        margin: 28px 0px;
                        margin-left: 52px;
                    }

                    td:nth-child(6){
                        margin: 28px 0px;
                        margin-left: 24px;
                    }

                    td:nth-child(7){
                        margin: 28px 0px;
                        margin-left: 48px;

                    }
                    td:nth-child(8){
                        margin: 28px 0px;
                        margin-left: 52px;
                    }
                    

                   
                }
            }

            tr:nth-child(1){
                display: block;
                
                div{
                    display: flex;
                    background-color: transparent;
                    
                    
                    td:nth-child(1),
                    td:nth-child(2),
                    td:nth-child(3),
                    td:nth-child(4),
                    td:nth-child(5),
                    td:nth-child(6),
                    td:nth-child(7),
                    td:nth-child(8)
                    {
                        margin: 0;
                    }

                    td:nth-child(2){
                        margin:0;
                        margin-left: 132px;
                    }

                    td:nth-child(3){
                        margin-left: 92px;
                    }

                    td:nth-child(4){
                        margin-left: 48px;
                    }

                    td:nth-child(5){
                        margin-left: 12px;
                    }

                    td:nth-child(6){
                        margin-left: 24px;
                    }
                    
                    td:nth-child(7),
                    td:nth-child(8)
                    {
                        margin-left: 24px;
                    }
                    
                }
            }
        }
    }
}