$main-color:#868686;
$text-color:#FFFFFF;
$btn-primary:#028DA5;
$btn-secondary:#D3D664;

@font-face {
    font-family: 'Error';
    src: url('../../public/fonts/Merriweather-Bold.ttf');
}


@font-face {
    font-family: 'Text';
    src: url('../../public/fonts/Neris-Light.otf');
}

.container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    place-content: center;
    background-color: $main-color;
    padding: 2rem 0rem;

    .error{
        display: flex;
        font-family: 'Error';
        justify-content: center;
        color: $text-color;
        gap: 0.5rem;
        
        h2{
            font-size: 24rem;
            text-align: center;
        }

        h2:nth-child(2){
            margin-top: 20.75rem;
        }
    }

    p{
        font-family: 'Text';
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        color: $text-color;
    }

    button{
        width: 18.75rem;
        margin: auto auto;
        margin-top: 2rem;
        padding: .5rem 2.5rem;
        text-transform: uppercase;
        font-family: 'Text';
        font-size: 1.5rem;
        background-color: $btn-secondary;
        border: .25rem solid $btn-secondary;
        border-radius: .5rem;
        cursor: pointer;
        background-color: $btn-primary;
        transition: .7s;
        
        a{
            text-decoration: none;
            color: $btn-secondary;
            transition: .7s;
        }

            &:hover{
                background-color: $btn-secondary;
                border-color: $btn-primary;
                
                a{
                    color: $btn-primary;
                }
            }
    }
}