
.main{
  background-color: #393738;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;

  .logo{
    color:#0091A4;
    text-transform: uppercase;
    letter-spacing: .0938rem;
    font-size: 3rem;

    span{
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5){
        color: #CCD360;
      }
    }
  }
  
 
  .container{
    text-align: center;

    h1{
      text-transform: uppercase;
      font-size: 5rem;
      color: white;
    }

    p{
      font-size: 1.5rem;
      color: white;
    }

    form{
      margin-top: .75rem;
      text-align: start;

      label{
        display: block;
        margin-bottom: .25rem;
        font-size: 1.2rem;
        color: white;
      }

      input{
        padding: .5rem .25rem;
        width: 31.25rem;
        border-radius: .5rem;
        border: none;
      }

       button{
        display: block;
        margin-top: .25rem;
        text-transform: uppercase;
        padding: .75rem 1.5rem;
        border-radius: .75rem;
        border: none;
        cursor: pointer;
      }
    }    
  }
}


@media(max-width: 600px){
  .main{
    .container{
      padding: .75rem;
  
      h1{
        font-size: 2rem;
      }
  
      p{
        width: 15.625rem;
        text-align: center;
        margin: auto;
      }
  
      form{
        input{
          width: 15.625rem;
          padding: .75rem .25rem;
        }
      }
  
    }
  }
}
 


