//#393738
//#0091A4
//#CCD360
//#d00000

@font-face {
    font-family: 'Lis';
    src: url('../../../../public/fonts/Deutschlander.otf');
}

@font-face {
    font-family: 'Titles';
    src: url('../../../../public/fonts/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Text';
    src: url('../../../../public/fonts/Queensides\ Medium.ttf');
}


.main{
    width: 100%;
    background-color: #CCD360;
    padding-bottom: 3.75rem;

    p{
        font-size: 3rem;
        font-family: 'Text';
    }

    .button{
        display: none;
        padding: .75rem 1.5rem;
        border-radius: .75rem;
        height: 3.125rem;
        border: .125rem solid #4a4e69;
        text-transform: uppercase;
        color: #4a4e69;
        background-color: transparent;
        cursor: pointer;
        transition: .4s;
        position: fixed;
        z-index: 7000;
        right: .75rem;
        bottom: .75rem;

        &:hover{
            color: #000;
            border-color: #000;
            background-color: #0091A4;
        }
    }
    
    .header{
        display: flex;
        justify-content: center;
        nav{
            position: fixed;
            z-index: 50000;
            background-color: #393738;
            border-radius: 1rem;
            width: 43.75rem;
            h1{
                width: max-content;
                font-size: 3rem;
                font-family: 'Titles';
            }

            padding: 1.25rem;
            display: flex;
            justify-content: space-between;
            margin: .75rem auto;
            align-items: center;
           
            button{
                padding: .75rem 1.5rem;
                border-radius: .75rem;
                height: 3.125rem;
                border: .125rem solid #4a4e69;
                text-transform: uppercase;
                color: #4a4e69;
                background-color: transparent;
                cursor: pointer;
                transition: .4s;

                &:hover{
                    color: #000;
                    border-color: #000;
                    background-color: #0091A4;
                }
           }

            ul{
                display: flex;
                align-items: center;
                list-style: none;
                
                a{
                    text-decoration: none;
                }

                li{
                    margin: 0rem .75rem;
                    font-size: 1.8rem;
                    font-family: 'Lis';
                    transition: .4s;
                    color: #000;

                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                        color: #FFF;
                    }
                }
            }
        }
    }

    h1:nth-child(1){
        font-size: 5rem;
        font-family: 'Titles';
    }

    h2{
        font-size: 3rem;
        width: 53.125rem;
        font-family: 'Titles';
    }
    
    .container{
        margin-top: 8.75rem;
        padding: 0rem 1.25rem;

       .errorContainer{
            width: 100%;
            display: flex;
            flex-direction: column;

            img{
                margin: auto auto;
            }
       }

        section{
            margin-bottom: 1.25rem;
            margin-top: 3.75rem;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li{
                list-style: none;
                padding: 0rem .75rem;
                font-size: 1.2rem;
                font-family: 'Text';
            }
        }

        .status{
            .statusContainer{
                display: flex;
                gap: 3.75rem;
                justify-content: center;      
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .75rem;
                    position: relative;

                    span{
                        width: 6.25rem;
                        height: .5rem;
                        background-color: #000;
                        position: absolute;
                        top: 50%;
                    }

                    span:nth-child(1){
                        margin-left: 18.125rem;
                    }

                    p{
                        font-size: 1rem;
                        font-family: 'Text';
                    }

                    div{
                        background-color: #0091A4;
                            padding: 2.5rem;
                        border-radius: 50%;
                    }
                }

            }
        }
    }
}

@media(max-width:600px){
    .main{
        height: 100%;
        p{
            font-size: 1.5rem;
            width: 21.875rem;
        }
        .button{
            display: block;
        }

        .header{
            nav{
                width: 21.875rem;
                border-radius: 0rem;
                margin: 0 auto;

                button{
                    display: none;
                }

                h1{
                    font-size: 2rem;
                }
            }
        }

        h2{
            width: 21.875rem;
        }

        .container{
            .errorContainer{
                margin-top: -3.75rem;
                img{
                    width: 21.875rem;
                    height: 18.75rem;
                }
            }
            .status{
                .statusContainer{
                    flex-direction: column;
                    gap: .75rem;
                    align-items: center;
                    div{
                        flex-direction: row;
                        text-align: center;
                        p{
                            width: 9.375rem;
                        }
                        
                        span{
                            top: 90%;
                            transform: rotate(90deg);
                        }
    
                        span:nth-child(1){
                            margin-left: 10.3125rem;
                        }
    
                        div{
                            padding: 1.25rem;
                            img{
                                width: 3.75rem;
                                height: 3.75rem;
                            }
                        }
                    }
                }
            }
        }
    }
}