//#393738
//#0091A4
//#CCD360
//#d00000

@font-face {
    font-family: 'Lis';
    src: url('../../../public/fonts/Deutschlander.otf');
}

@font-face {
    font-family: 'Titles';
    src: url('../../../public/fonts/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Text';
    src: url('../../../public/fonts/Queensides\ Medium.ttf');
}



.box{
    .loading{
        position: absolute;
        top: 50%;
        z-index: 500000;
        left: 40%;
        text-transform: uppercase;
        width: 18.75rem;
        height: max-content;
        background-color: #0091A4;
        text-align: center;
        padding: 1.25rem;
        color: #FFFFFF;
        display:none;
        
.ldsRoller,
.ldsRoller div,
.ldsRoller div:after {
  box-sizing: border-box;
}
.ldsRoller {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: .45rem;
  height: .45rem;
  border-radius: 50%;
  background: currentColor;
  margin: -0.225rem 0 0 -3.6px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 3.9142rem;
  left: 3.9142rem;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 4.2321rem;
  left: 3.5rem;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 4.4319rem;
  left: 3.0176rem;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 4.5rem;
  left: 2.5rem;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 4.4319rem;
  left: 1.9824rem;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 4.2321rem;
  left: 1.5rem;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 3.9142rem;
  left: 1.0858rem;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 3.5rem;
  left: .7679rem;
}
@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}        
}
    .container{
        .header{
            display: flex;
            justify-content: center;
            nav{
                position: fixed;
                z-index: 50000;
                background-color: #393738;
                border-radius: 1rem;
                width: 43.75rem;
                h1{
                    width: max-content;
                    font-size: 3rem;
                    font-family: 'Titles';
                }
        
                padding: 1.25rem;
                display: flex;
                justify-content: space-between;
                margin: .75rem auto;
                align-items: center;
               
                button{
                    padding: .75rem 1.5rem;
                    border-radius: .75rem;
                    height: 3.125rem;
                    border: .125rem solid #4a4e69;
                    text-transform: uppercase;
                    color: #4a4e69;
                    background-color: transparent;
                    cursor: pointer;
                    transition: .4s;
        
                    &:hover{
                        color: #000;
                        border-color: #000;
                        background-color: #0091A4;
                    }
               }
        
                ul{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    
                    a{
                        text-decoration: none;
                    }
        
                    li{
                        margin: 0rem .75rem;
                        font-size: 1.8rem;
                        font-family: 'Lis';
                        transition: .4s;
                        color: #000;
        
                        &:hover{
                            text-decoration: underline;
                            cursor: pointer;
                            color: #FFF;
                        }
                    }
                }
            }
        }
                
            
                .input{
                    position: relative;
                    z-index: 20000;
                    margin: auto auto;
                    top: 7.5rem;
                    width: max-content;
            
                    span{
                        transition: .4s;
                        background-image: url('../../../public/assets/search-test.svg');
                        width: 2.125rem;
                        height: 2.125rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: absolute;
                        margin-left: -2.375rem;
                        margin-top: .3125rem;
                        z-index: 70000;
                        cursor: pointer;
                    }
            
                       
                    input{
                        font-family: 'Text';
                        font-size: 1rem;
                        width: 31.25rem;
                        padding: .5rem .5rem;
                        background-color:#1b263b;
                        border-radius: .75rem;
                        border: .125rem solid #415a77;
                        color: #0d1b2a;
                        transition: .4s;
                     
            
            
                        &:focus{
                            border-color: #1b263b;
                            background-color: #415a77;
                            color: #778da9;
                        }
                    }
                }
            
                .presentation{
                    background-color:#CCD360;
                    position: absolute;
                    top: 0;
                    height: max-content;
                    width: 100%;
                    z-index: 10000;
                    .textPresentation{
                        padding:12.5rem 1.25rem;
            
                        h2{
                            font-size: 4rem;
                            width: 53.125rem;
                            font-family: 'Titles';
                        }
            
                        h3{
                            font-size: 1.8rem;
                            font-family: 'Titles';
                        }
            
                        p{
                            width: 28.125rem;
                            font-size: 1.5rem;
                            margin: 1.25rem auto;
                            text-align: justify;
                            font-family: 'Text';
                        }
            
                        button{
                            margin-top: 1.25rem;
                            padding: .75rem 1.5rem;
                            border-radius: .75rem;
                            width: 9.375rem;
                            height: 3.125rem;
                            border: .125rem solid #4a4e69;
                            text-transform: uppercase;
                            color: #4a4e69;
                            background-color: transparent;
                            cursor: pointer;
                            transition: .4s;
            
                            &:hover{
                                color: #000;
                                border-color: #000;
                                background-color: #0091A4;
                            }
                        }
                    }
                }
            
                .modalitys{
                    margin-top: 71.875rem;
                    padding: 3.75rem 1.25rem;
                    background-color: #0091A4;
            
                    img{
                        width: 100%;
                        height: 50rem;
                    }
            
                    .secondImage{
                        width: 100%;
                        height: 50rem;
                    }
            
                    h2{
                        font-size:3rem;
                        font-family: 'Titles';
                        margin: 1.25rem .25rem;
                    }
            
                    p{
                        font-size: 1.5rem;
                        width: 40.625rem;
                        margin: .75rem auto;
                        text-align: justify;
                        font-family: 'Text';
                    }
            
                    .benefitsContainer{
                        display: flex;
                        margin-top: 3.75rem;
                        gap: 3.75rem;
                        justify-content: center;
            
                        h3{
                            font-size: 2rem;
                            text-transform: uppercase;
                            font-family: 'Titles';
                            text-align: center;
                        }
            
                        span{
                            font-family: 'Text';
                            display: block;
                            width: 21.875rem;
                            text-align: justify;
                        }
            
                        .benefits{
                            background-color: #CCD360;
                            padding: .75rem 1.5rem;
                            border-radius: .75rem;
                            display: flex;
                            flex-direction: column;
                            gap: .75rem;
            
                            span{
                                color: #FFF;
                            }
                        }
            
                        div:nth-child(1){
                            h3{
                                color: #CCD360;
                                margin-bottom: 12px;
                            }
                        }
            
                        div:nth-child(2){
                            h3{
                                color: #D00000;
                                margin-bottom: .75rem;
                            }
                        }
            
                        .negatives{
                            background-color: #D00000;
                            padding: .75rem 1.5rem;
                            border-radius: .75rem;
                            display: flex;
                            flex-direction: column;
                            gap: .75rem;
            
                            span{
                                color: #FFF;
                            }
                        }
                    }
                }
            
                .footer{
                    background-color:#393738;
                    padding: 1.875rem 1.25rem;
                    height: 18.75rem;
            
                    h1{
                        width: max-content;
                        font-size: 3rem;
                        margin-bottom: 3.75rem;
                        font-family: 'Titles';
                    }
            
                   .footerContainer{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    .infos{
                        display: flex;
                        flex-direction: column;
                        gap: 1.25rem;
                        
                        span{
                            font-family: 'Text';
                            color: #FFF;
                        }
            
                        .infoContainer{
                            display: flex;
                            gap: .25rem;
                        }
                    }
            
                    .socialMedias{
                        display: flex;
                        gap: 2.5rem;
            
                        div{
                            border: .125rem solid #4a4e69;
                            padding: .75rem;
                            border-radius: .75rem;
                            transition: .4s;
                            width: 3.5rem;
                            height: 3.5rem;
            
                            &:hover{
                                cursor: pointer;
                                border-color: #0091A4;
                            }
                        }
            
                        a:nth-child(1){
                            div{
                                background-image: url('../../../public/assets/fb-icon1.svg');
                                background-size: 2rem 2rem;
                                background-position: center;
                                background-repeat: no-repeat;
                
                                &:hover{
                                    background-image: url('../../../public/assets/fb-icon2.svg');
                                }
                            }
                        }
            
                        a:nth-child(2){
                            div{
                                background-image: url('../../../public/assets/ig-icon1.svg');
                                background-size: 2rem 2rem;
                                background-position: center;
                                background-repeat: no-repeat;
            
                            
                            &:hover{
                                background-image: url('../../../public/assets/ig-icon2.svg');
                            }
                            }
                        }
            
                        a:nth-child(3){
                            div{
                                background-image: url('../../../public/assets/tt-icon1.svg');
                                background-size: 2rem 2rem;
                                background-position: center;
                                background-repeat: no-repeat;
            
                            
                            &:hover{
                                background-image: url('../../../public/assets/tt-icon2.svg');
                            }
                        }
                        }
            
                        a:nth-child(4){
                            div{
                                background-image: url('../../../public/assets/wpp-icon1.svg');
                                background-size: 2rem 2rem;
                                background-position: center;
                                background-repeat: no-repeat;
            
                            
                            &:hover{
                                background-image: url('../../../public/assets/wpp-icon2.svg');
                            }
                        }
                        }
                    }
                   }
                }
            
            
        }
}


@media(max-width:600px){
    .box{

        .loading{
            left: 15%;
        }
        .container{
            .header{
                nav{
                    width: 21.875rem;
                    border-radius: 0rem;
                    margin: 0 auto;
    
                    button{
                        display: none;
                    }
    
                    h1{
                        font-size: 2rem;
                    }
                }
            }
    
            .input{
                input{
                    width: 21.875rem;
                }
            }
    
            .presentation{
                .textPresentation{
                    h2{
                        font-size: 2.5rem;
                        width: 21.875rem;
                    }
    
                    p{
                        width: 21.875rem;
                    }
                }
            }
    
            .modalitys{
                margin-top: 87.5rem;
                h2{
                    font-size: 2.5rem;
                    margin-top: 3.75rem;
                }
                img,
                .secondImage{
                    height: 18.75rem;
                }
    
                
    
                p{
                    width: 21.875rem;
                }
    
                .benefitsContainer{
                    flex-direction: column;
    
                    span{
                        width: 18.75rem;
                    }
                }
            }
    
            .footer{
                .footerContainer{
                    .infos{
                        span{
                            width: 12.5rem;
                        }
                    }
                    .socialMedias{
                        display: grid;
                        grid-template-columns: repeat(2,3rem);
                        gap: 1rem;
                    }
                }
            }
        }
    }
}